body, html{
  background-image: url(assets/aroma.jpg);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  background-color: black;
  color: wheat;
  text-align: center;
}

p{
  color: brown;
  text-align: center;
}
